
    <mat-toolbar>
      <i class="material-icons md-36">home</i>
      <h1>How It Works</h1>
      <div class="username">
          <i class="material-icons md-36">face</i>
      </div>
    </mat-toolbar>
    <hr class="hr-color">
    <!-- <div class="hr-transparent"></div> -->
    <div
      fxLayout="column"
      fxLayout.lt-sm="column" 
      fxLayoutGap="32px" 
      fxLayoutAlign="flex-start"
    > 
      <div class="herohead">
          <div class="image-container">
            <p>1. Fetch product data from website</p>
            <img src="../assets/website-data-color.png" class="responsive">
          </div>
          <i class="material-icons md-36">arrow_forward_ios</i>
          <div class="image-container">
            <p>2. Save & Sent It to Publishers</p>
            <img src="../assets/cloud-computing.png" class="responsive">
          </div>
          <i class="material-icons md-36">arrow_forward_ios</i>
          <div class="image-container">
            <p>3. Show dynamic ads on Google or Facebook!</p>
            <img src="../assets/Facebooks-Dynamic-Ad-Illustration.jpg" class="responsive">
          </div>
      </div>
      <div class="history"><app-history></app-history></div>
      <div fxFlex="0 1 100%" class="feeds"><app-feeds></app-feeds></div>
    </div>
    

