#chart {
  height: inherit;
  width: inherit;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.bar {
  /* fill: steelblue; */
  fill: #f78fa4;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  /* border: 1px solid #6F257F; */
  border-radius: 5px;
  padding: 14px;
  text-align: center;
  font-size: 0.7rem;
}