<div class="feeds-box">
  <button mat-raised-button color="primary" (click)="getStatus()">Click to Preview the Latest (max 20 items)</button>
</div>
<hr/>
<div *ngIf="feeds">
    <table *ngIf="feeds" mat-table [dataSource]="feeds" class="mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef class="bold-font"> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef class="bold-font"> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- Product ID Column -->
        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef class="bold-font"> Product ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="bold-font"> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>
      
        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th mat-header-cell *matHeaderCellDef class="bold-font"> Brand </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
</div>

<!-- <div *ngIf="feeds">
  <div *ngFor="let feed of feeds">
    <p>{{feed.title}}</p>
    <span>{{feed.productId}}</span>
    <span>{{feed.price}}</span>
    <span>{{feed.link}}</span>
    <span>{{feed.description}}</span>
    <span>{{feed.image_link}}</span>
  </div>
</div> -->
