.small-font {
  font-size: 0.6rem;
}

.bold-font {
  font-size: 1.1rem;
}

.feeds-box {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}